---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Service Lines">
  <section class="p-6">
    <h1 class="text-4xl font-bold mb-4">Service Lines</h1>
    <ul class="list-disc list-inside">
      <li>Maternal and Child Health</li>
      <li>Non-Communicable Diseases</li>
      <li>Telemedicine Services</li>
    </ul>
  </section>
</Layout>
